h1 {    
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}
h4 {
    color: darkorange;
}
.subtitle {    
    color: lawngreen;
}
h1,
.subtitle {
    text-align: center;
}

img {
    height: 400px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.menu {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width:fit-content
}
.menu li {
    flex: 1;
}


#artie {
    height:auto;
    width: auto;
    align-content: center;
}
body {
    background-color: black;
    color: green;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco;
}
